* {
  padding: 0;
  margin: 0;
}
body {
  min-width: 1080px;
}
#topbar {
  width: 100%;
  height: 180px;
  background-color: #004d98;
  background-image: url('img/logo.svg');
  background-repeat: no-repeat;
  background-position: center top;
}
#topbar h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding-top: 130px;
}
#topbar img {
  padding-left: 200px;
}
#matchesContainer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
  padding: 0 20px;
}
th {
  background-color: #004d98;
  color: white;
  font-size: 18px;
}
