* {
  padding: 0;
  margin: 0;
}
body {
  min-width: 1080px;
  margin-bottom: 20px;
}
#topbar {
  width: 100%;
  height: 175px;
  background-color: #004d98;
  background-image: url('img/logo.svg');
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 20px;
}
#topbar h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding-top: 135px;
}
#topbar img {
  padding-left: 200px;
}
#tabMenu {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1
}
#tabMenu button {
	background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
#tabMenu button:hover {
	background-color: #ddd;
}
#tabMenu button:active {
	background-color: #ccc;
}
.tabContent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
#contentContainer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  margin-top: 20px;
  padding-bottom: 50px;
}
#contentContainer ol {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 50px 0;
  width: 435px;
  text-align: justify;
}
#contentContainer input {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: justify;
  display: block;
}
#contentContainer label {
  text-align: center;
  font-size: 20px;
  display: block;
}
table {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  font-family: sans-serif;
}
th {
  background-color: #004d98;
  color: white;
  font-size: 18px;
  height: 40px;
  padding-top: 15px;
}
td {
  padding: 10px 0px;
}
tr {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #ccc;
}
tr:nth-child(odd) {
  background-color: #fff;
}
select {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #004d98;
  color: #fff;
  border: solid;
  border-color: #42a1f4;
  padding: 5px 15px;
  border-radius: 4px;
}
option {
  font-size: 20px;
  color: #fff;
  background-color: #004d98;
}
